<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVGWK_ExX8KBigQdfEAfNNodnx5kk6Ao8</string>
	<key>GCM_SENDER_ID</key>
	<string>577376604543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsb.besyocity</string>
	<key>PROJECT_ID</key>
	<string>besyocity-197ae</string>
	<key>STORAGE_BUCKET</key>
	<string>besyocity-197ae.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577376604543:ios:688a22443c6127bdc84a4a</string>
	<key>DATABASE_URL</key>
	<string>https://besyocity-197ae-default-rtdb.firebaseio.com</string>
</dict>
</plist>